body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-container {
    background-color: white;
    padding: 50px;
    text-align: center;
   
}

h2 {
    margin: 0px 0px 10px 0px;
}

input {
    width: 150pxpx;
    margin: 10px 0px;
    padding: 10px;
}

input[type='submit'] {
    width: 222px;
    background-color: darkgray;
    color: white;
    border: 0px;
}

.error {
    color: red;
    margin: 0;
    margin-left: 17px;
    text-align: left;
}